<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>InterGenOS</vendor>
  <vendor_url>https://github.com/InterGenJLU/intergenos</vendor_url>
  <icon_name>system-software-install</icon_name>

  <action id="org.intergenos.forge.run-installer">
    <description>Run the InterGenOS installer</description>
    <description xml:lang="en_US">Run the InterGenOS installer</description>
    <message>Authentication is required to install InterGenOS</message>
    <message xml:lang="en_US">Authentication is required to install InterGenOS</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/forge-gui-runner</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
